BASE_URL = 'http://127.0.0.1/shop'

{% extends 'shop/basic.html' %}

{% block css %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  .carousel-indicators .active {
    background-color: #007bff; /* Blue color */
  }

  .col-md-3 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000; /* Black color */
    border-radius: 50%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 450px; /* Fixed height for product box */
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .card-text {
    color: #666;
  }

  .btn-primary {
    background-color: #f8f8f8; /* Blue color */
    border: 2px solid #3c25c4; /* Add a border */
    border-radius: 5px; /* Add some rounded corners */
    box-shadow: 0 2px 4px rgba(21, 180, 47, 0.1); /* Add a subtle shadow */
    color: #3c25c4; /* Text color */
    padding: 8px 16px; /* Padding */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

  .btn-primary:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }

  /* .whatsapp_icon img {
    width: 20px;
    height: 20px; */
/* } */

.whatsapp_link {
    text-decoration: none; /* Remove underline from the link */
}

.whatsapp_icon {
    display: inline-block;
    line-height: 20px; /* Adjust line height to vertically center the text */
}

.whatsapp_icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Align the icon vertically with the text */
    background-color: transparent;
}



</style>
{% endblock %}

{% block body %}
<div class="container">
  <!-- Slideshow starts here -->
  {% for products, slides, range in allprods %}
  <h2 class="my-5" style="color: #333;">{{ products.0.category }}</h2>
  <div class="row">
    <div id="demo{{ forloop.counter }}" class="col carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo{{ forloop.counter }}" data-slide-to="0" class="active"></li>
        {% for i in range %}
        <li data-target="#demo{{ forloop.parentloop.counter }}" data-slide-to="{{ i }}"></li>
        {% endfor %}
      </ul>

      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">
          <div class="row">
            {% for i in products %}
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="card" data-height="300px">
                <img src='/media/{{ i.image }}' class="card-img-top" alt="{{ i.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ i.name }}</h5>
                  <p class="card-text">{{ i.description|slice:":100" }}{% if i.description|length > 100 %}...{% endif %}</p>
                </div>
                <div class="card-footer">
                  <!-- <button id="p{{ i.id }}" class="btn btn-primary cart">Add To Cart</button> -->
                  <a href="/shop/products/{{ i.id }}"><button id="v{{ i.id }}" class="btn btn-primary cart">View</button></a>
                  <a href="https://api.whatsapp.com/send/?phone=%2B918864865605&text=Hi,%20I%20want%20to%20purchase%20this%20item%0A[http://127.0.0.1/shop/products/{{i.id}}]" class="whatsapp_link">
                    <div class="whatsapp_icon">
                      <button class="btn btn-primary cart">Buy Item
                      <img src="/media/shop/images/whatsapp_icon.png" width="20" height="20" alt="">
                    </button>  
                        
                    </div>
                </a>
                
                
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- left and right controls for the slide -->
      <a class="carousel-control-prev" href="#demo{{ forloop.counter }}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo{{ forloop.counter }}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
  var cart = localStorage.getItem('cart') ? JSON.parse(localStorage.getItem('cart')) : {};

  $('.cart').click(function() {
    var id = this.id.toString();

    cart[id] = (cart[id] !== undefined) ? cart[id] + 1 : 1;

    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  });
</script>
{% endblock %}
