<!DOCTYPE html>
<html>
<head>
    <title>Place Order</title>
</head>
<body>
    <h2>Place Your Order</h2>
    <h4>Total Amount : {{total_price}}</h1>
    <form method="post" action="/place-order/">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name" value="{{address.name}}" required><br>
        <label>Email:</label>
        <input type="email" name="email" value="{{address.email}}"><br>
        <label>Phone:</label>
        <input type="text" name="phone" value="{{address.phone}}"required><br>
        <label>Street Number:</label>
        <input type="text" name="street_address" value="{{address.street_address}}"required><br>
        <label>City:</label>
        <input type="text" name="city" value="{{address.city}}" required><br>
        <label>State:</label>
        <input type="text" name="state" value="{{address.state}}" required><br>
        <label>Zip Code:</label>
        <input type="text" name="zip_code" value="{{address.zip_code}}"required><br>
        <label>Country:</label>
        <input type="text" name="country" value="India"required><br>

        <input type="hidden" name="cart_id" value="{{ cart_id }}">
        <input type="hidden" name="total_price" value="{{ total_price }}">
    
        <button type="submit">Proceed to Payment</button>
    </form>
</body>
</html>
