{% extends 'shop/basic.html' %}

{%block title%} {{product.name}} {%endblock%}

{%block css%}
<style>
    body {
        background-color: #EEEDEB;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #E0CCBE;
    }
    .navbar-dark .navbar-brand {
        color: #EEEDEB;
    }
    .navbar-dark .navbar-toggler {
        border-color: #E0CCBE;
    }
    .container {
        background-color: #E0CCBE;
        padding: 30px;
        border-radius: 15px;
        margin-top: 20px; 
    }
    .product-image {
        border: 2px solid #747264;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .btn-primary {
        background-color: #3C3633;
        border-color: #747264;
    }
    .btn-primary:hover {
        background-color: #747264;
        border-color: #3C3633;
    }
    h5, p {
        color: #3C3633;
    }
</style>
{%endblock%}

{%block body%}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row my-5">
                <img src="{{product.image_file.url}}" width="250px" height="300px" class="product-image">
            </div>
            <div class="row">
                <button id="p{{ product.id }}" class="btn btn-primary mx-3 my-3">Add To Cart</button>
                <a href="https://api.whatsapp.com/send/?phone=%2B918864865605&text=Hi,%20I%20want%20to%20purchase%20this%20item%0A[https://ecommerce-0nk8.onrender.com/products/{{i.id}}]"><button id="v{{ product.id }}" class="btn btn-primary mx-3 my-3">Buy Now</button></a>
            </div>
        </div>
        <div class="col-md-8 my-5">
            <h5>{{product.name}}</h5>
            <p><b>MRP Rs. {{product.price}}</b></p>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
{%endblock%}
